################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/GitHubChecks/.vs
/src/GitHubChecks/bin
/src/GitHubChecks/obj
/src/IssuePuller/.vs
/src/IssuePuller/bin
/src/IssuePuller/obj
